<!doctype html>
<html lang="en">
    <head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="alternate" type="application/rss+xml" href="/rss" title="RSS Feed">

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}">
    <link rel="stylesheet" href="{{asset "css/layout.css"}}" media="(min-width:1em)">
    <script type="text/javascript" src="{{asset "js/modernizr.min.js"}}"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        <div class="wrapper">
            <header class="page-head">
                <a href="/" class="ident">{{@blog.title}}</a>
                <p>{{@blog.description}}</p>
                <nav>
                    <a href="http://twitter.com" class="twitter">

                    </a>
                </nav>
            </header>
            
            {{! Everything else gets inserted here }}
            {{{body}}}

            <footer class="page-foot">
                <a href="/about"><span>About</span></a>
                <a href="/archive"><span>Archive</span></a>
                <a href="/rss"><span>Feed</span></a>
            </footer>

            {{! Ghost outputs important scripts and data with this tag }}
            {{ghost_foot}}
        </div>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51286789-1', 'noahks.com');
          ga('send', 'pageview');

        </script>

        <!-- add image captions -->
        <script>
            var imgs = document.querySelectorAll("article img");
            for (var i = 0, len = imgs.length; i < len; i++) {
                var node = imgs[i];
                var figure = document.createElement("figure");
                var caption = node.getAttribute("alt");
                var src = node.getAttribute("src");
                figure.innerHTML = "<img src=\"" + src + "\" /><figcaption>" + caption + "</figcaption>";
                node.parentNode.replaceChild(figure, node);
            }
        </script>

    </body>
</html>